.login-form8 {
  max-width: 500px;
  margin:0 auto;
}
.login-form-forgot8 {
  float: right;
}
.login-form-button8 {
  width: 20%;
  text-align:center;
  background: red;
}

.wrapper8 {
  /* height: 500px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body8 {
  width: 80%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .3);
  height: 500px;
  margin-top: 30px;
}

.headerOne8 {
  color: #fff;
  font-size: 24px;
  padding: 30px 20px;
  background-color: red;
  text-align: center;
  width:auto;
}

.form8 {
  margin-top: 12px;
  padding: 24px;
}