.login-form4 {
  max-width: 500px;
  margin:0 auto;
}
.login-form-forgot4 {
  float: right;
}
.login-form-button4 {
  width: 100%;
  background: red;
}

.wrapper4 {
  /* height: 500px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body4 {
  width: 80%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .3);
  height: 500px;
  margin-top: 30px;
}

.headerOne4 {
  color: #fff;
  font-size: 24px;
  padding: 30px 20px;
  background-color: red;
  text-align: center;
  width:auto;
}

.form4 {
  margin-top: 12px;
  padding: 24px;
}